USE [master]
GO
/****** Object:  Database [dbs_comercio]    Script Date: 8/08/2023 7:35:42 a. m. ******/
CREATE DATABASE [dbs_comercio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbs_comercio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbs_comercio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbs_comercio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbs_comercio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbs_comercio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbs_comercio]
GO
/****** Object:  Table [dbo].[tblcategoria]    Script Date: 8/08/2023 7:35:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcategoria](
	[Pkcodigo] [bigint] IDENTITY(0,1) NOT NULL,
	[Descripcion] [varchar](5000) NULL,
	[Nomenclatura] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pkcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblcomprador]    Script Date: 8/08/2023 7:35:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblcomprador](
	[Pkcodigo] [varchar](10) NOT NULL,
	[Nombre] [varchar](5000) NULL,
	[Contacto] [varchar](10) NULL,
	[Correo] [varchar](10) NULL,
	[Direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pkcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblestado]    Script Date: 8/08/2023 7:35:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblestado](
	[Pkcodigo] [bigint] IDENTITY(0,1) NOT NULL,
	[Descripcion] [varchar](5000) NULL,
	[Nomenclatura] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pkcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblfactura]    Script Date: 8/08/2023 7:35:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblfactura](
	[Pknfactura] [bigint] IDENTITY(1,1) NOT NULL,
	[Fkid_tblcomprador] [varchar](10) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[Fkcodigo_tblproductos] [varchar](20) NOT NULL,
	[Fkcodigo_tblestado] [bigint] NOT NULL,
	[Valor_venta] [float] NOT NULL,
	[Cantidad] [int] NULL,
	[Subtotal] [float] NULL,
	[IVA] [float] NULL,
	[Total] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Pknfactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblproductos]    Script Date: 8/08/2023 7:35:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblproductos](
	[Pkcodigo] [varchar](20) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Existencia] [bigint] NOT NULL,
	[Valor_compra] [float] NOT NULL,
	[Ganancia] [float] NOT NULL,
	[Fkcodigo_tblcategoria] [bigint] NOT NULL,
	[Especificaciones] [varchar](5000) NOT NULL,
	[Valor_venta] [float] NOT NULL,
	[Fkcodigo_tblestado] [bigint] NOT NULL,
	[Fkid_tblusuario] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pkcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblusuarios]    Script Date: 8/08/2023 7:35:42 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblusuarios](
	[Pkcodigo] [varchar](20) NOT NULL,
	[Nombre] [varchar](5000) NULL,
	[Contacto] [varchar](10) NULL,
	[Correo] [varchar](10) NULL,
	[Direccion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Pkcodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblfactura]  WITH CHECK ADD  CONSTRAINT [FK_tblfactura_tblcomprador] FOREIGN KEY([Fkid_tblcomprador])
REFERENCES [dbo].[tblcomprador] ([Pkcodigo])
GO
ALTER TABLE [dbo].[tblfactura] CHECK CONSTRAINT [FK_tblfactura_tblcomprador]
GO
ALTER TABLE [dbo].[tblfactura]  WITH CHECK ADD  CONSTRAINT [FK_tblfactura_tblestado] FOREIGN KEY([Fkcodigo_tblestado])
REFERENCES [dbo].[tblestado] ([Pkcodigo])
GO
ALTER TABLE [dbo].[tblfactura] CHECK CONSTRAINT [FK_tblfactura_tblestado]
GO
ALTER TABLE [dbo].[tblfactura]  WITH CHECK ADD  CONSTRAINT [FK_tblfactura_tblproductos] FOREIGN KEY([Fkcodigo_tblproductos])
REFERENCES [dbo].[tblproductos] ([Pkcodigo])
GO
ALTER TABLE [dbo].[tblfactura] CHECK CONSTRAINT [FK_tblfactura_tblproductos]
GO
ALTER TABLE [dbo].[tblproductos]  WITH CHECK ADD  CONSTRAINT [FK_tblproductos_tblcategoria] FOREIGN KEY([Fkcodigo_tblcategoria])
REFERENCES [dbo].[tblcategoria] ([Pkcodigo])
GO
ALTER TABLE [dbo].[tblproductos] CHECK CONSTRAINT [FK_tblproductos_tblcategoria]
GO
ALTER TABLE [dbo].[tblproductos]  WITH CHECK ADD  CONSTRAINT [FK_tblproductos_tblestado] FOREIGN KEY([Fkcodigo_tblestado])
REFERENCES [dbo].[tblestado] ([Pkcodigo])
GO
ALTER TABLE [dbo].[tblproductos] CHECK CONSTRAINT [FK_tblproductos_tblestado]
GO
ALTER TABLE [dbo].[tblproductos]  WITH CHECK ADD  CONSTRAINT [FK_tblproductos_tblusuarios] FOREIGN KEY([Fkid_tblusuario])
REFERENCES [dbo].[tblusuarios] ([Pkcodigo])
GO
ALTER TABLE [dbo].[tblproductos] CHECK CONSTRAINT [FK_tblproductos_tblusuarios]
GO
USE [master]
GO
